/* header style */
.site-name{
    color: white;
    /* background-color:slategray; */
    background-image: url('https://image.freepik.com/free-photo/blue-wall-texture-slate-background_24972-264.jpg');
   
    line-height: 100px;
    text-align: center;
}
span{
    color:springgreen;
}

/* style on navlink */
.nav-container{
    display: flex;
    justify-content: center;
    margin-top: -10px;
    background-color:rgba(50, 205, 50, 0.76);
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    color:white
  
}
/* search field */
.search{
    margin-right: -200px;
}
.search-btn{
    color: white;
    background-color: darkred;
}
